@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7fcfe;
}

.navbar-brand {
  font-family: "Gabarito", sans-serif;
  font-weight: 600;
}

.homeBanner {
  font-family: "Gabarito", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 8rem;
  line-height: 5rem;
}

.pUpdateData {
  font-family: "Gabarito", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
  line-height: 5rem;
}

.mpUpdateData {
  font-family: "Gabarito", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
  line-height: 0rem;
}

.mobileBanner {
  font-family: "Gabarito", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: ;
}

.onestop {
  font-size: 6rem;
}

.merah {
  color: red;
}

.card-text {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.kimiaRow {
  border: 1px solid #d2d2d2;
}

.hilang2 {
  display: none;
}

@media only screen and (max-width: 768px) {
  .hilang {
    display: none;
  }

  .timbul {
    display: block;
  }
}
