@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  backgorund-color: #f7fcfe;
}

.navbar-brand {
  font-family: "Gabarito", sans-serif;
  font-weight: 600;
}

.homeBanner {
  font-family: "Gabarito", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 8rem;
  line-height: 5rem;
}

.pUpdateData {
  font-family: "Gabarito", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
  line-height: 5rem;
}

.onestop {
  font-size: 6rem;
}

.merah {
  color: red;
}

.card-text {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.cardlink {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .hilang {
    display: none;
  }
}
