<header>
    <nav class="navbar navbar-expand-lg bg-body-subtle shadow">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"
          >One Stop <span class="merah">UP</span></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/">Home</a>
            <div class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
              Annual Report
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    href="https://www.canva.com/design/DAF58K38Vds/4SBq8zUVFys6AS8Hnz6ImQ/view?utm_content=DAF58K38Vds&utm_campaign=designshare&utm_medium=link&utm_source=editor"
                    >2023</a
                  >
                </li>
              </ul>
            </div>
            <a class="nav-link" href="/pages/datateknis.html">Technical Data</a>
            <div class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
              Calculator
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="https://kaldopus.netlify.app"
                    >Kalkulator Pompa Dosing Pulsafeeder</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="https://kaldotac.netlify.app"
                    >Kalkulator Pompa Dosing Tacmina</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="https://anugrahra.github.io/kalipa"
                    >Kalkulator IPA</a
                  >
                </li>
              </ul>
            </div>
            <div class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
              How To(s)
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    href="https://drive.google.com/file/d/14Ials4qcsSpAiO0f1mZABD0Wwb4M5X5C/view?usp=sharing"
                    >Menentukan Dosis Pada Pompa Dosing Pulsafeeder</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="https://drive.google.com/file/d/12IBQyAqvbx8L_0oUjjltCRAGSelkiKzs/view?usp=drive_link"
                    >Kalibrasi Turbidy Meter Lovibond TB 210 IR</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="https://drive.google.com/file/d/11kW66shJgfAHvAV-gScki2BJ3Yl5vc_V/view?usp=drive_link"
                    >Rumus Penentuan Dosis Koagulan</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>